.container {
  padding: 20px;

  h2, h3 {
    margin-bottom: 15px;
  }

  table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;

    th {
      background: #f0f0f0;
    }

    td, th {
      padding: 8px;
      border: 1px solid #ccc;
    }

    button {
      padding: 5px 10px;
    }
  }
}
